
html, body {
    font-family: 'Proxima-Nova', sans-serif;
    margin: 0px;
    background-color: #1A1A1D;
}

canvas {
    display: block;
    position: absolute;
    top: 00px;
    left: 0px;
}



.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap-reverse;

}

.box {
  background-color:#363537;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  flex-shrink: 0;
  z-index:1;
  opacity:0.8;
}


h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h2 {
  font-size: 0.8rem;
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-weight: lighter;
}


a.button1{
  display:inline-block;
  padding:0.3em 0.5em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size:0.7rem;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}

.button{
  display:inline-block;
  margin-top: 2em;
  padding:0.3em 0.5em;
  border:0.1em solid #FFFFFF;
  margin:1em 0.8em 0.3em 0;
  background-color: #363537;;
  color:#FFFFFF;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size:0.9rem;
  text-align:center;
  transition: all 0.2s;
}


.button:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  a.button1{
  display:block;
  margin:0.4em auto;
 }
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 2.5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 55%;
  width: 20px;
  height: 20px;
  background: #D9F0FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #D9F0FF;
  cursor: pointer;
}